body{
    background-color: #F0F0F0;
    text-align: center;
}
h1{
    color: #333;
}
.galeria img{
    width: 300px;
    height: 200px;
    border: 5px solid #3333;
    margin: 20px 0;
}

.botoes button{
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: mone;
    cursor: poointer;
    font-size: 1.5rem;

}

.botoes button:hover{
    background-color: #777;
}

.botoes button.ativo {
    background-color: blue;
}